// colors

$base: #121212;
$dark-1: #30323e;
$dark-2: #252630;
$black: #000;

$action: #202020;

$off-white: #95999a;
$white: #fff;

$yellow: #d6b164;

$border-4: 4px;
$border-5: 5px;
$border-sm: 0.5rem;
$border-md: 1rem;

$cubic: cubic-bezier(0.075, 0.82, 0.165, 1);
