.main-search {
  padding: 6rem 0;
  background-image: url('~/assets/images/mkbhd.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 2000px 0 0 0 #1212120a;

  &__form {
    background-color: $base;
    border: 2px solid $dark-2;
    padding: 2rem;
    border-radius: $border-5;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input {
      background-color: darken($dark-1, 5%);
      color: $white;
      border: none;
      padding: 1rem 2rem;
      border-radius: $border-5;
      font-weight: 600;
      width: 100%;

      @include media-breakpoint-up(md) {
        width: unset;
      }

      ::placeholder,
      :-ms-input-placeholder,
      ::-ms-input-placeholder {
        font-weight: 600;
      }
    }

    button {
      margin-left: -3rem;
      background-color: transparent;
      border: none;

      svg {
        fill: $off-white;
        width: 1rem;
        height: 1rem;
      }
    }

    .search-icons {
      display: flex;
      align-items: center;
      padding-left: 2rem;

      svg {
        margin-right: 2rem;
        fill: $icons-blue;
      }
    }
  }
}
